<% content_for :hero_head do %>
  <h1>Your Profile</h1>
<% end %>

<% content_for :hero_lead do %>
  View your academic information, such as completed coursework, here.
<% end %>

<% content_for :content do %>
  <!-- Bio -->
  <div class="row">
    <div class="col">
      <p>
        <strong>Your name:</strong> <%= current_user.firstname %> <%= current_user.lastname %> (<%= current_user.email %>)
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        <strong>Faculty?</strong> <%= current_user.faculty? %>
      </p>
    </div>
  </div>
  <!-- Academic -->
  <div class="row justify-content-md-center">
    <!-- AOC -->
    <div class="col col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">TODO: Major</h5>
            <h6 class="card-subtitle mb-2 text-muted">major.division</h6>
            <p class="card-text">major.description</p>
            <a href="#" class="card-link">View Details</a>
          </div>
      </div>
    </div>
    <!-- # completed courses -->
    <div class="col col-lg-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Completed Courses</h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= current_user.completed_courses.count %> completed <%= 'course'.pluralize %></h6>
            <p class="card-text">
              <ul>
                <% current_user.completed_courses.each do |completed_course| %>
                  <li><%= completed_course.course.title %></li>
                <% end %>
              </ul>
            </p>
            <%= link_to "Update Progress", completed_courses_path(user: current_user), class: "card-link" %>
          </div>
      </div>
    </div>
  </div>
<% end %>