<% content_for :hero_head do %>
<%= notice %>
  <h1>Confirmation</h1>
<% end %>

<% content_for :hero_lead do %>
  <p>This page is to confirm which completed course was added to your profile.</p>
<% end %>

<% content_for :content do %>
<p>
  <strong>User:</strong>
  <%= @completed_course.user.email %>
</p>

<p>
  <strong>Course:</strong>
  <%= @completed_course.course.title %>
</p>

<%= link_to 'Edit', edit_completed_course_path(@completed_course) %> |
<%= link_to 'Back', completed_courses_path %>
<% end %>